

/* .commentField{
	height: auto;
	overflow: scroll;
}
.commentBox, .commentField{
	width: 80%;
    margin: 10px;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
    left: 1px;
    position: relative;

} */
.box{
	width: 80%;
    margin: 10px;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
    left: 1px;
    position: absolute;

}
.boxX{
	border-color: #000000;
    background-color: #FFF;
    border-width: 2px;
    border-style: outset;
    top: -5px;
    left: 170px;
    position: relative;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: block;
}
.boxComment{
	position: absolute;
    width: 200px;
    height: 150px;
    top: 93px;
    right: 246px;
    background-color: rgb(201, 201, 201);
    color: #000000;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
    vertical-align: middle;
	display: none;
}
/* .boxRoot{
	position: absolute;
    width: 200px;
    height: 300px;
    top: 120px;
    right: 40px;
    background-color: rgb(201, 201, 201);
    color: #000000;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
    vertical-align: middle;
	display: none;
} */
.commentName {
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	max-width: 80px;
}
.name{
	white-space: nowrap;
	overflow:scroll;
	text-overflow: ellipsis;
	max-width: 100px;
}
.listClose{
	width: 100%;
}
.list{
	width:100%;
}
.listContainer{
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 10px;
}

.loader{
	position:absolute;
	width:50%;
	height:20px;
	top:50%;
	left:25%;
	background-color:rgb(255, 255, 255);
	color:#000000;
	border-radius:6px;
	text-align:center;
	box-shadow: 5px 5px 5px #999;
    vertical-align:middle;
}
.progressbar{
	width: 0%;
	height: 100%;
	background-color: rgb(0, 84, 14);
	color :#000000;
}
.progresstext{
	position:absolute;
	top: 0px;
	left: 50%;
}

.toolsBar{
	position: absolute;	
    top: 120px;
    left: 40px;
    background-color: rgb(43, 36, 68);
    border-radius: 2px;
	display: none;
}

.toolbarButton{
	width:40px;
	height:40px;
	margin: 6px 4px;
	/* top:40px;
	left:40px; */
	border-radius:2px;
	text-align:center;
	cursor:pointer;
    vertical-align:middle;
	display: flex;
}
.unselectedButton{
	background-color:#999;
	color:#FFF;

}
.selectedButton{
	color:#FFF;
	background-color:#000000;

}
.toolbarButton:hover{
	color:#FFF;
	background-color:#504f4f;

}
.toolbarButtonSelected{
	width:40px;
	height:40px;
	margin: 6px 4px;
	/* top:40px;
	left:40px; */
	background-color:#000000;
	color:#FFF;
	border-radius:2px;
	text-align:center;
	cursor:pointer;
    vertical-align:middle;
	display: flex;
}
.float{
	margin: auto;
	cursor:pointer;
    vertical-align:middle;
	align-items: center;
}
.float img {
	width: 24px;
	height: 24px;
	margin: auto;
}
.baseWindow, .boxRoot{
	position: absolute;	
	top: 10%;
    right: 40px;
	display: none;
}
.title{
	background-color: rgb(200, 200, 200);

}
.outlinerWindow, .inspectorWindow, .rulerWindow, .commentsWindow, .boxComment{
    width: 200px;
    height: 250px;
    background-color: rgb(232, 232, 232);
    color: #000000;
    border-radius: 2px;
	border-color: #000000;
	border-width: 2px;
	border-style: solid;
    text-align: center;
    cursor: pointer;
	margin-top: 5px;
	/* padding: 10px; */
}
.commentField{
	margin: 10px 0px 10px 0px;
}
.baseWindowClose{
    border-color: #000000;
    background-color: #ffffff;
    border-width: 2px;
    border-style: outset;
    text-align: center;
    position: relative;
    width: 17px;
    height: 17px;
    display: block;
    top: 25.5px;
    left: 183px;
	cursor: pointer;

}